{% extends 'base.html.twig' %}

{% block title %}Héphaïstos{% endblock %}

{% block body %}
<h1>Héphaïstos</h1>
    {% if app.user %}
        <a href="{{ path('user_account') }}">Mon compte</a>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
        <a href="{{ path('app_register') }}">S'inscrire</a>
    {% endif %}
{% endblock %}
